@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";

$primary-color-dark:   #689F38;
$primary-color:        #8BC34A;
$primary-color-light:  #DCEDC8;
$primary-color-text:   #212121;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


body {
  margin: 0px;
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color($primary-color);
}

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

body {
  display: block;
}

.mdc-drawer-app-content {
  width: 100%;
}

.card-intro {
  width: 630px;
}

.card-pilote {
  width: 315px;
  margin: 8px;
}

.drawer-frame-root {
  display: flex;
  height: 100vh;
}

.drawer-main-content {
  overflow: auto;
  height: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  padding: 8px 0px;
  flex-wrap: wrap;
  max-width: 700px;
  margin: auto;
}

.cards table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.cards table tr:nth-child(even) {
  background-color: #EEFEEB;
}
.cards table tr:nth-child(odd) {
  background-color: $primary-color-light;
}

.profil-card__media {
  position: absolute;
  width: 110px;
  height: 110px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
}

.contact {
  margin: 8px;
  padding: 8px;
  flex-grow: 1;
}

.main-contact {
  margin: 8px;
  padding: 8px;
  flex: 0 1 100%;
  text-align: center;
}

.contact h2 {
  margin: 0px;
}

.social-link {
  margin: auto;
  display: inline-flex;
  align-items: center;
}

.finance-actions {
  display: flex;
  justify-content: center;
}

.card__primary {
  padding: 0 0 0 8px;
}
.card__secondary {
  padding: 0 8px 8px 8px;
}

.finance-action {
  max-width: 200px;
  background-color: $primary-color-dark;
  border-color: $accent-color;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}