@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/typography/mdc-typography";

$primary-color-dark:   #689F38;
$primary-color:        #8BC34A;
$primary-color-light:  #DCEDC8;
$primary-color-text:   #212121;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


body {
  margin: 0px;
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color($primary-color);
}

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

body {
  display: block;
}

.mdc-drawer-app-content {
  width: 100%;
}

.card-intro {
  width: 630px;
}

.drawer-frame-root {
  display: flex;
  height: 100vh;
}

.drawer-main-content {
  overflow: auto;
  height: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
}